body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../Waxom/img/back1.jpg) no-repeat center top / cover;
	
	height: 100vh;


	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}




.logo {
	padding-top: 40px;
	padding-left: 370px;
}

#main-nav-wrap, .main-navigation {
	margin: 0;
	padding: 0;
}

/* hide toggle button */
a.menu-toggle {
	display: none;
}

/* main-nav-wrap */
#main-nav-wrap {
	font-family: "raleway-heavy", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: absolute;
	top: 0;
	right: 80px;
}
.main-navigation {
	min-height: 66px;
	display: inline-block;
	width: auto;
	text-align: left;
}
.main-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li.current a {
	color: #FFFFFF;
}
.main-navigation li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #05bca9;
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* navigation links */
.main-navigation li a {
	display: block;
	padding: 65px 10px;
	line-height: 20px;
	text-decoration: none;
	text-align: left;
	color: #98999a;
	position: relative;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #FFFFFF;
}

.container {
	line-height: normal;
	padding-top: 250px;
	text-align:center;
	color: white;
	font-family: Raleway;
}

h1 {
	font-size: 52px;	
	text-transform: uppercase;
}
h3 {
	font-size: 18px;
	}

.button{
	background: #00e6b8;
	color: white;
	border-radius:5px;
	display: block;
	width:200px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration:none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-top: 100px;

}

.sviper {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 220px;

}

/* first section*/

.slogan_item {
	margin-bottom: 60px;

}

.slogan {
	width: 280px;
	float: left;
	text-align: center;
}

.slogan h2 {
	font-size: 22px;
	margin-bottom: 5px;
}

.slogan p {
	color: #8c8c8c;
	font-size: 14px;
}

.slogan:last-child  {
	padding-top: 62px;
	float: right;
	margin-right: 100px;
}

.slogan:nth-child(3)  {
	padding-top: 56px;
	float: right;
	margin-right: 200px;
}

.slogan:nth-child(2)  {
	padding-top: 59px;
	float: left;
	margin-left: 100px;
}

.slogan:nth-child(1)  {
	padding-top: 50px;
	float: left;
	margin-left: 200px;
}

.a123123{

	  background-color: #fbfaf8;
      height: 290px;
      
      top: 0;
      left: 0;
      width: 100%;
}

.realization {
	text-align: center;
	margin-top: 80px;

}

.browser {
	display:block;
	margin-top:; 
	margin: 70px auto 0px; 
	text-align: center;
}

.a123124{

	  background-color: #372720;
      height: 150px;
      
      top: 0;
      left: 0;
      width: 100%;
}

.section4 {
	padding-top: 20px;
	margin-left: 150px;
	color:white;
	float:left;
}


.button2 {
	background: #998675;
	color: white;
	border-radius:5px;
	display: block;
	width:200px;
	padding: 20px 0;
	margin: 45px 200px auto;
	text-decoration:none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	float: 	right;	
	
}